h1 {
    text-align: center;
}

#contentExample {
    display: none;
}

#anotherGame {
    display: none;
}

#hallOfFameCriteria {
    margin-top: 50px;
}

#deleteGameForm {
    display: none;
    margin-top: 50px;
}

#tempMsg {
    display: none;
}

#gameDetailContent {
    display: none;
}

#extraP {
    display: none;
}

#tokenCSRF {
    display: none;
}

#subtitle {
    width: 100%;
    text-align: center;
    font-weight: bold;
}
