<div id="gameDetailContent">
    <p><strong>Badges :</strong> @BADGES@</p>
    <p><strong>Id :</strong> @ID@</p>
    <p><strong>Solo récurrent :</strong> @IS_SOLO_RECCURING@</p>
    <p><strong>Multijoueur récurrent :</strong> @IS_MULTI_RECCURING@</p>
    <p><strong>A faire :</strong> @IS_TO_DO@</p>
    <p><strong>A faire en solo parfois :</strong> @IS_TO_PLAY_SOLO_SOMETIMES@</p>
    <p><strong>A faire en multi parfois :</strong> @IS_TO_PLAY_MULTI_SOMETIMES@</p>
    <p><strong>Au moins une version originale (Légale - non copiée) :</strong> @ORIGINAL_VERSION@</p>
    <p><strong>A acheter :</strong> @IS_TO_BUY@</p>
    <p><strong>A regarder en fond :</strong> @IS_TO_WATCH_BACKGROUND@</p>
    <p><strong>A regarder sérieusement :</strong> @IS_TO_WATCH_SERIOUS@</p>
    <p><strong>A revoir :</strong> @IS_TO_WATCH_AGAIN@</p>
    <p><strong>Au moins un exemplaire est une copie :</strong> @IS_ONE_COPY@</p>
    <p><strong>En plusieurs exemplaires :</strong> @IS_MANY@</p>
    <p><strong>Top jeu (toujours valable aujourd'hui) :</strong> @IS_TOP@</p>
    <p><strong>Fait partie du hall of fame :</strong> en @HALL_YEAR@ en position #@HALL_POSITION@</p>
    <p><strong>J'y ai beaucoup joué :</strong> @IS_PLAYED_OFTEN@</p>
    <p><strong>Commentaires :</strong></p> @COMMENTS@</p>

    {% include 'general/hall-of-fames-criteria.html' %}
</div>
