<form id="gameForm" method="POST">
    <p>
        <label for="title">Titre</label>
        <input type='text' name='title' id='title' required/>
    </p>
    <p>
        <label for="platform">Plate-forme</label>
        <select id="platform" name="platform">
            {% for platform in platforms %}
                <option value="{{ platform.get_platform_id() }}">{{ platform.get_name() }}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="todo_solo_sometimes">A faire en solo parfois</label>
        <select id="todo_solo_sometimes" name="todo_solo_sometimes">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="todo_multiplayer_sometimes">A faire en multi parfois</label>
        <select id="todo_multiplayer_sometimes" name="todo_multiplayer_sometimes">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="singleplayer_recurring">A faire en solo régulièrement</label>
        <select id="singleplayer_recurring" name="singleplayer_recurring">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="multiplayer_recurring">A faire en multi régulièrement</label>
        <select id="multiplayer_recurring" name="multiplayer_recurring">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="to_do">A faire</label>
        <select id="to_do" name="to_do">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="to_buy">A acheter</label>
        <select id="to_buy" name="to_buy">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="to_watch_background">A regarder en fond</label>
        <select id="to_watch_background" name="to_watch_background">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="to_watch_serious">A regarder sérieusement</label>
        <select id="to_watch_serious" name="to_watch_serious">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="to_rewatch">A revoir parfois</label>
        <select id="to_rewatch" name="to_rewatch">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="original">Au moins une version originale (Légale - non copiée)</label>
        <select id="original" name="original">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="copy">Au moins un exemplaire est une copie</label>
        <select id="copy" name="copy">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="many">Plusieurs exemplaires</label>
        <select id="many" name="many">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="top_game">Top jeux</label>
        <select id="top_game" name="top_game">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="played_it_often">Beaucoup joué</label>
        <select id="played_it_often" name="played_it_often">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="hall_of_fame">Dans le hall of fame</label>
        <select id="hall_of_fame" name="hall_of_fame">
            <option value="0" selected>Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="hall_of_fame_year">Année de la présence dans le hall of fame (mettre 0 si non applicable)</label>
        <input type="number" name='hall_of_fame_year' min="0" value="0" required/>
    </p>
    <p>
        <label for="hall_of_fame_position">Position de la présence dans le hall of fame (mettre 0 si non applicable)</label>
        <input type="number" name='hall_of_fame_position' min="0" value="0" required/>
    </p>
    <p>
        <label for="comments">Commentaires</label>
        <textarea name="comments"></textarea>
    </p>
    <input type='hidden' name='_token' value='{{ token }}'/>
    <input type='submit' name='submit' value="Enregistrer"/>
</form>
<script type="text/javascript">
    $( "#gameForm" ).submit(function( event ) {
        $.ajax({
            url: "{{ url_for('add_game') }}",
            type: "POST",
            data: $(this).serialize(),
            dataType: "json",
            success: function (data) {
                entry = "entry" + data.id;
                $('#content').append('<a data-link-type="gameDetails" id="' + entry + '" href="">Détails</a>');
                $("#" + entry).trigger("click");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Une erreur s'est produite.");
            }
        });

        return false;
    });
</script>