<div id="hallOfFameCriteria">Pour rappel, voici les critères d'un jeu Hall of Fame :
    <ul>
        <li>L'année affichée n'est pas celle de la sortie officielle. Cela peut soit être celle où on a joué pour la première fois à ce jeu, ou encore plus tard quand on a vraiment passé du temps dessus pour qu'il rentre dans le Hall of Fame.</li>
        <li>Le jeu doit avoir été beaucoup joué ET avoir marqué le joueur, pour diverses raisons (contenu, visuel, affectif, contexte, scénario...).</li>
        <li>Le classement dans le Hall of Fames ne représente pas la valeur du jeu : c'est plus lié à l'effet fait au joueur lors des premières parties</li>
    </ul>
</div>