<div id="hallOfFameCriteria">Pour rappel, voici les critères d'un jeu Hall of Fame :
    <ul>
        <li>L'année affichée doit être celle où on y a joué pour la première fois, et non pas l'année de sa sortie officielle.</li>
        <li>Le jeu doit avoir été beaucoup joué ET avoir marqué le joueur, pour diverses raisons (contenu, visuel, affectif, contexte, scénario...).</li>
        <li>Le classement dans le Hall of Fames ne représente pas la valeur du jeu : c'est plus lié à l'effet fait au joueur lors des premières parties</li>
    </ul>
</div>