<form id="historyForm" method="POST">
    <p>
        <label for="game_id">Id du jeu</label>
        <input type='int' name='game_id' id='game_id' value="{%- if history -%}{{game.get_game_id()}}{% endif %}" required/>
    </p>
    <p>
        <label for="year">Année</label>
        <input type='text' name='year' id='year' required/>
    </p>
    <p>
        <label for="position">Position</label>
        <input type='int' name='position' id='position' value="{%- if history -%}{{game.get_position()}}{% endif %}" required/>
    </p>
    <p>
        <label for="watched">L'as-tu regardé ?</label>
        <select id="watched" name="watched">
            <option value="0">Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <p>
        <label for="played">Y as-tu joué ?</label>
        <select id="played" name="played">
            <option value="0">Non</option>
            <option value="1">Oui</option>
        </select>
    </p>
    <input type='hidden' name='_token' value='{{ token }}'/>
    <input type='submit' name='submit' value="Enregistrer"/>
</form>
<script type="text/javascript">
    $( "#historyForm" ).submit(function( event ) {
        $.ajax({
            url: "{{ url_for('add_history') }}",
            type: "POST",
            data: $(this).serialize(),
            dataType: "json",
            success: function (data) {
                $("#history").trigger("click");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Une erreur s'est produite.");
            }
        });

        return false;
    });
</script>