<form id="historyForm" method="POST">
    <p>
        <label for="game_id">Id du jeu</label>
        <input type='int' name='game_id' id='game_id' required/>
    </p>
    <p>
        <label for="year">Année</label>
        <input type='text' name='year' id='year' required/>
    </p>
    <input type='hidden' name='_token' value='{{ token }}'/>
    <input type='submit' name='submit' value="Enregistrer"/>
</form>
<script type="text/javascript">
    $( "#historyForm" ).submit(function( event ) {
        $.ajax({
            url: "{{ url_for('add_history') }}",
            type: "POST",
            data: $(this).serialize(),
            dataType: "json",
            success: function (data) {
                $("#platforms").trigger("click");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Une erreur s'est produite.");
            }
        });

        return false;
    });
</script>